* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background-color: white;
}

.navbar {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navItem {
  margin: 0;
  padding: 0;
}

.header h2 {
  color: #28352f;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.navbar i {
  color: #28352f;
}

.navbar .navItem {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #28352f;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.header i {
  color: #28352f;
}

.header-text {
  text-decoration: none;
}

.header .navItem {
  text-decoration: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("images/header-illsutration-mobile@2x.png");
  background-size: cover;
  background-repeat: repeat;
  align-items: center;
  background-position-x: -10px;
  background-position-y: 58px;
}

/* .content-container > p {
  max-width: 600px;
} */

p {
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 28px;
  margin-bottom: 50px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: #172b4d;
}

h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 120px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 10px;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 50px;
}

.profession {
  color: #36b37e;
}

.socilaLinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: 102.42;
  margin-right: 102.42;
  height: 20px;
  margin-bottom: 64px;
}

.socilaLinks li {
  margin: 10px;
}

.indicator,
.scroll-button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.indicator {
  margin-bottom: 62px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
  width: 331px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: #ebf0ee;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  border-bottom: 1px solid #d0d9d4;
  height: 474px;
  width: 327px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-image {
  height: 252px;
  width: 327px;
  border-radius: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  height: 219px;
  border-radius: 8px;
  bottom: 0;
  background: #fff;
  gap: 16px;
}

.project-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 305px;
  height: 32px;
}

.tag-ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 103px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.tag-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  text-align: center;
}

.tag-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.tag-javascript {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
}

.tag-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  text-align: center;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: auto;
  height: auto;
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
}

.button:hover {
  background-color: #2b9f6f;
  transform: scale(1.01);
}

.button:active {
  background-color: #008552;
}

.aboutMe {
  background-image: url("images/illustration-\ about\ me-\ mobile.svg");
  background-position: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: repeat;
  align-items: center;
  margin-bottom: 68px;
}

.h3-background {
  background: url("images/illustration\ 1-\ about\ me-mobile.svg");
  background-position-x: right;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 375px;
}

.languages-card {
  background: #ebf0ee;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  border-bottom: 1px solid #d0d9d4;
  height: 352px;
  width: 327px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
}

.ellipse {
  display: flex;
  justify-content: center;
}

.ellipse-image {
  margin-top: 40px;
}

.language-text {
  width: 337px;
  height: 32px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 32px;
}

.tag-container-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 266px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
}

.frameworks-tag-container {
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 266px;
  height: 40px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 84px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.rubyOnRails {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 103px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.rspec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 63px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.capybara {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin-left: 50px;
}

.selenium {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 81px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.skills-tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 303px;
  height: 88px;
}

.codekit {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 67px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.codepen {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 79px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.gitlab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.terminal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin-left: auto;
  margin-right: auto;
}

.language-tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 271px;
  height: 40px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.lang-jsListitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 89px;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.lang-rubyListitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.lang-htmlListitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 53px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.lang-cssListitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 50px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.btn_effects:hover {
  background-color: #008552;
  cursor: pointer;
}

.btn_effects:active {
  background: #008552;
}

.section-contact-form {
  margin-left: auto;
  margin-right: auto;
  height: 879px;
  width: 375px;
  border-radius: 0;
  padding: 64px 24px 64px 24px;
  gap: 58px;
  background-image: url("images/illustration-contact-form.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.section-contact-form .div-heading-form {
  height: 363px;
  width: 327px;
  border-radius: 0;
  margin-bottom: 58px;
  padding: 0;
  gap: 24px;
}

.section-contact-form .div-heading-form .heading-form {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.section-contact-form div .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  width: 327px;
  border-radius: 0;
  padding: 0;
  gap: 24px;
}

.section-contact-form div .contact-form div {
  width: 327px;
  border-radius: 0;
  display: flex;
  justify-content: center;
}

.section-contact-form div .contact-form div fieldset {
  border: 0;
}

.section-contact-form div .contact-form div fieldset input[type="text"] {
  height: 48px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #6b778c;
  padding: 15px 16px;
}

.section-contact-form div .contact-form div fieldset input[type="text"]:hover {
  border: 1px solid #60c095;
}

.section-contact-form div .contact-form div fieldset input[type="text"]:focus {
  outline: none;
  border: 1px solid #60c095;
}

.section-contact-form div .contact-form div fieldset input[type="email"] {
  height: 48px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #6b778c;
  padding: 15px 16px;
}

.section-contact-form div .contact-form div fieldset input[type="email"]:hover {
  border: 1px solid #60c095;
}

.section-contact-form div .contact-form div fieldset input[type="email"]:focus {
  outline: none;
  border: 1px solid #60c095;
}

.section-contact-form div .contact-form div fieldset textarea {
  height: 114px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #6b778c;
  padding: 15px 16px;
}

.section-contact-form div .contact-form div fieldset textarea:hover {
  border: 1px solid #60c095;
}

.section-contact-form div .contact-form div fieldset textarea:focus {
  outline: none;
  border: 1px solid #60c095;
}

.btn-form {
  padding: 12px;
  gap: 10px;
  width: auto;
  height: auto;
  bottom: 8px;
  border-radius: 4px;
  color: #fff;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
}

.section-contact-form .contact-form-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  width: 326px;
}

.email-footer {
  height: 189px;
  width: 375px;
  border-radius: nullpx;
  margin-top: 34px;
  margin-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
}

.email-footer .heading-footer {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #42526e;
}

.rounded {
  border-top: 6px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 35%;
}

.divider {
  display: flex;
  justify-content: center;
}

/* Media queries */

@media screen and (min-width: 768px) {
  .content-container {
    background-image: url("images/Header-llustration-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 1px;
  }

  .recent-work-text {
    display: none;
  }

  .recent-work-text-desktop {
    margin-bottom: 40px;
  }

  .indicator {
    display: none;
  }

  .card-container {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1171px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutMe {
    /* background-image: url("images/illustration_about_me_desktop.png");
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-position: 0 1px; */
    display: none;
  }

  .about-me-desktop {
    /* background-image: url("images/illustration_about_me_desktop.png");
    background-size: contain;
    background-repeat: no-repeat; 
  
    /* background-image: url("images/illustration-\ about\ me-\ mobile.svg"); */
    /* background-position: cover;
    display: flex;
    flex-direction: row;
    justify-content: center; */
    /* background-size: cover; */
    /* background-repeat: repeat; */
    /* align-items: center;
    margin-bottom: 68px; */ 
  
    /* Vic */
  
    padding: 3em 0;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: auto;
    gap: 24px;
    justify-items: center;
    align-items: center;
    background-image: url("/images/aboutme-desktop.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left 15em, right top;
  }

  .about-me-desktop > p {
    max-width: 900px;
    
    
  }

  /* .para-wrap {
    background-image: url("/images/aboutme-desktop.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left 15em, right top;
  } */

  .h1-background{
    margin-top: 0px;
  }
  
  .h1-about-me-desktop {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .content-container {
    background-position-x: -48px;
  }

  .recent-work-text-desktop {
    display: none;
  }
}

/* maximum mobile width for header */

@media (max-width: 767px) {
  .header .header-text,
  .header nav.navItem,
  .header .menu-bars {
    flex: 1 0 auto;
    width: 100%;
  }

  .header .header-text {
    order: 1;
    max-width: 80%;
    position: relative;
    left: -20px;
  }

  .header nav.navItem {
    order: 3;
    max-height: 0;
    overflow: hidden;
  }

  .header .menu-bars {
    order: 2;
    max-width: 20%;
    text-align: center;
    position: relative;
    right: -37px;
  }
}

/* minimum width to hide welcome and menu bars on tablets and desktop */

@media screen and (min-width: 768px) {
  .header .header-text,
  .header .menu-bars {
    display: none;
  }

  .header nav.navItem {
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
  }

  .header nav.navItem > a {
    flex: 1 0 auto;
    width: 100%;
    max-width: 30.33%;
    margin: 0 15%;
    text-align: center;
  }
}